MEDUSA_ADMIN_ONBOARDING_TYPE=nextjs
STORE_CORS=http://localhost:8000,https://docs.medusajs.com
ADMIN_CORS=http://localhost:5173,http://localhost:9000,https://docs.medusajs.com
AUTH_CORS=http://localhost:5173,http://localhost:9000,http://localhost:8000,https://docs.medusajs.com
REDIS_URL=redis://localhost:6379
JWT_SECRET=supersecret
COOKIE_SECRET=supersecret
DATABASE_URL=postgres://postgres:supersecret@localhost/medusa-medusa-v2
MEDUSA_ADMIN_ONBOARDING_NEXTJS_DIRECTORY=medusa-v2-storefront





# ADMIN_CORS=http://localhost:7000
# AUTH_CORS=http://localhost:7000
# COOKIE_SECRET=supersecret
# DATABASE_URL=postgresql://neondb_owner:npg_Iz0CpWRXg5xe@ep-young-rain-ad9dh0w5-pooler.c-2.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
# JWT_SECRET=supersecret
# MEILISEARCH_API_KEY=aB3+kL9/ZxY1mN0pQq7rTt8VsU4hWw2B
# MEILISEARCH_HOST=convinced-stormie-eurphil-webstore-89a804f0.koyeb.app/
# R2_ACCESS_KEY_ID=D_9q5ToZdQWjuMHMdb8HXKl3IDEcIfkpqQP855hd
# R2_ACCOUNT_ID=82a5e56f9348a3f4e581296729b3b74a
# R2_BUCKET_NAME=medusa-webstore
# R2_SECRET_ACCESS_KEY=ef75054870e49f8b30a72aa175771ed393cdf25d1b2703619dd4b56c692348be
# REDIS_URL=rediss://default:AXeaAAIncDFlNjllNWM4M2I4ZDU0NzU5YWIyMGNiZGI5NzE1NWU3YXAxMzA2MTg@promoted-boa-30618.upstash.io:6379
# STORE_CORS=http://localhost:8000